.box {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: 7px 8px 6px 0px #d2d2d2;
}

.user-1,
.user-2 {
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 20px;
  /* display: inline-block; */
  width: 60px;
  height: 60px;
}

.user-1 {
  border-radius: 50%;
  border: 7px solid #4c42e3;
}

.user-2 {
  border-radius: 5px;
  border: 7px solid #fd5169;
}
